<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="UTF-8" />
  <title>Where is Michael?</title>
  <meta name="description" content="Where is Michael?">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="/styles.css">
  <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css"
      rel="stylesheet"
    />

  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
</head>
<body>
  {{ content | safe }}

  <footer>
    <p>Michael Kohler - Data accurate from 2013 onwards</p>
  </footer>

  <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>
</body>
</html>
