@import '../scss/_variables';

footer {
  background-color: $brand-color;
  color: $font-color-light;
  height: 4em;
  padding: 0 50px 0 50px;
  text-align: center;

  p {
    line-height: 4em;
    margin-bottom: 0;
  }
}
