@import '../scss/_variables';

header {
  background-color: $brand-color;
  color: $font-color-light;
  height: 3em;
  text-align: center;
  vertical-align: middle;

  h2 {
    margin-top: 0;
    font-size: 2em;
    line-spacing: 3em;
  }
}
