@import '../scss/_variables';

.container {
  margin: 10px 50px 100px 50px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.widget-row {
  background-color: $brand-color;
  margin: 10px 0;
}

h1 {
  text-align: center;
}
