@import '../scss/_variables';

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 30px;
  background-color: $brand-white;

  thead {
    background-color: $brand-color;
    color: $font-color-light;
    text-align: left;

    th {
      padding-left: 5px;
      min-height: 20px;
    }
  }

  tr {
    border-bottom: 1px solid $border-color;

    &.future {
      text-transform: uppercase;
      font-weight: bolder;
    }

    td {
      padding-left: 5px;
    }
  }
}
