@import '../scss/_variables';

.card {
  background-color: $brand-color;
  color: $font-color-light;
  min-width: 43%;
  padding: 20px 40px 20px 40px;
  margin: 10px 0 10px 0;

  &.light {
    background-color: $light-brand-color;
  }

  &.medium {
    background-color: $medium-brand-color;
  }

  &.brand {
    background-color: $brand-color;
  }

  &:last-child {
    margin-right: 0;
  }

  &.vertical {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  &.next {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 2em;
      margin: 0;
    }
  }

  .number {
    text-align: center;

    h2 {
      font-size: 3em;
      margin: 0;
    }
  }
}
